body{
    background-color: rgb(250,150,150,0.8);
}

#profile Image{
      border:2px dotted black;
}

.layout{
  
}

.layout{
  color:blue;
  font-family: cursive;
}

table tr:first-child{
  background-color:rgba(250,250,250,0.8)
}
